.pageContainer {
  width: 940px;
  height: 500px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: yellow;
}


h1 {           /*main heading */
  font-family: ariel;
  font-size: 55px;
  color: blue;
  text-align:center;
  padding-top:10px;
}
h2{        /* second header*/
  font-family: ariel;
  font-size: 25px;
  color: darkgreen;
  text-align: center;
}
h3{
  font-family: ariel;
  font-size: 40px;
  color: darkgrey;
  text-align: center;
  }
.light-background {
  background-color: light-red;
  color: white;
}
.wrapper {
  width: 600px;
  margin: auto;
}

.textContainer {
  float: right;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
  
img {
  width:  80%;
  text-aligned: center;
}
.imageContainer {
 text-align: center;
  height: 300px;
  width: 300px;
}
p, li{        /*list of bullet points*/
  font-family: italic;
  font-size: 35px;
  color: red;
  text-align: left;
}
hr {    /* create a line with size and color*/
  height: 4px;
  background-color: tan;
  border: 2px solid black;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 15px 20px;
}

a:link{  /* links will be blue*/
  color: blue;
  font-size: 33px;
}
a:hover{    /* when you hover over the link it will turn darkgreen*/
  color:darkgreen;
}
li{
  color: brown;
}


footer{        /*footer*/
  width: 800px;
  color:black !important;
}
.text-centered {
  text-align: center;
}
.box {
  margin:5px 40%;
  background-color: lightblue;
  padding: 10px;
  font-family: arial;
  text-align: center;
}
.border-box {
  box-sizing: border-box;
}
.ridge  {  border: 10px ridge gray;  }

.dark-background {
  background-color: #1E1E1E;
  color: white;
}



