h1 {
  font-family: timesroman
  font-size: 63px;
  color green;
  text-align:center;
}
img {
  width:  100%;
  text-aligned: left;
}
p, li{
  font-family: italic;
  font-size: 35px;
  color: red;
  text-align: left;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
li{
  color: brown;
}
 .imageContainer {
  float: right;
  width: 200px;
}
