h1 {
  font-family: timesroman
  font-size: 63px;
  color green;
  text-align:center;
}
img {
  width:  25%;
  text-aligned: center;
}
p{
  font-family: italic;
  font-size: 35px;
  color: red;
  text-align: center;
}
  .imageContainer {
  float: left;
  width: 200px;
}
